@model KnifeCompany.Models.ViewModels.OrderHeaderVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Order";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.OrderHeader.Id != 0)
        {
            //edit
            title = "Edit Order";
            <input type="hidden" asp-for="OrderHeader.Id" />
            <input type="hidden" asp-for="OrderHeader.Name" />
            <input type="hidden" asp-for="OrderHeader.PhoneNumber" />
            <input type="hidden" asp-for="OrderHeader.State" />
            <input type="hidden" asp-for="OrderHeader.City" />
            <input type="hidden" asp-for="OrderHeader.StreetAddress" />
            <input type="hidden" asp-for="OrderHeader.PostalCode" />
        }


        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OrderHeader.ApplicationId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OrderHeader.ApplicationId" class="form-control" readonly />
                    <span asp-validation-for="OrderHeader.ApplicationId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OrderHeader.OrderDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OrderHeader.OrderDate" class="form-control" readonly />
                    <span asp-validation-for="OrderHeader.OrderDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OrderHeader.OrderTotal"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OrderHeader.OrderTotal" class="form-control" readonly />
                    <span asp-validation-for="OrderHeader.OrderTotal" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label>Order Status</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(x => x.OrderHeader.OrderStatus, Model.OrderStatusList, "- Select a Order status",
                   new { @class = "form-control" })
                    <span asp-validation-for="OrderHeader.OrderStatus" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label>PaymentStatus</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(x => x.OrderHeader.PaymentStatus, Model.PaymentStatusList, "- Select a Payment status",
                   new { @class = "form-control" })
                    <span asp-validation-for="OrderHeader.PaymentStatus" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.OrderHeader.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.OrderHeader.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />

                    }
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}