@model KnifeCompany.Models.ViewModels.ProductVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Product"; 
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Product.Id != 0)
        {
            //edit
            title = "Edit Product";
            <input type="hidden" asp-for="Product.Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>

                <div class="col-4">
                    <label asp-for="Product.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>

                <div class="col-4">
                    <label asp-for="Product.Status"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Status" class="form-control" />
                    <span asp-validation-for="Product.Status" class="text-danger"></span>
                </div>

                <div class="col-4">
                    <label asp-for="Product.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Description" class="form-control" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>

                <div class="col-4">
                    <label asp-for="Product.Picture"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Picture" class="form-control" />
                    <span asp-validation-for="Product.Picture" class="text-danger"></span>
                </div>

                <div class="col-4">
                    <label asp-for="Product.Section"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Section" class="form-control" />
                    <span asp-validation-for="Product.Section" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Product.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Product.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />

                    }
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}